---
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Workflow from '../components/Workflow.astro';
import Features from '../components/Features.astro';
import Pricing from '../components/Pricing.astro';
import Footer from '../components/Footer.astro';
import BetaStatus from '../components/BetaStatus.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<Header />
	<main>
		<Hero />
		<Workflow />
		<Features />
		<Pricing />
		<BetaStatus />
	</main>
	<Footer />
</Layout>
